{% extends 'base.html' %}
{% block title %}Reset Password | CampusConnect{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-5 col-lg-4">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4 p-md-5">
                <div class="text-center mb-4">
                    <i class="bi bi-shield-lock-fill text-primary" style="font-size: 3rem;"></i>
                    <h2 class="fw-bold mt-2 ">{% if force_change %}Change Password{% else %}Reset Password{% endif %}</h2>
                    <p class="text-desc">Please enter a secure new password.</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger py-2 px-3 small">{{ form.non_field_errors.0 }}</div>
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label fw-medium">New Password</label>
                        {{ form.password }}
                        {% if form.password.errors %}<div class="text-danger small mt-1">{{ form.password.errors.0 }}</div>{% endif %}
                        <div class="form-text small">
                            Minimum 8 characters. Must contain uppercase, lowercase, and a number.
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-medium">Confirm Password</label>
                        {{ form.confirm_password }}
                        {% if form.confirm_password.errors %}<div class="text-danger small mt-1">{{ form.confirm_password.errors.0 }}</div>{% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 shadow-sm fw-bold">{% if force_change %}Update Password{% else %}Reset Password{% endif %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
