{% extends 'emails/base_email.html' %}

{% block content %}
<h2>Password Reset Request</h2>
<p>Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.email }}{% endif %},</p>
<p>We received a request to reset the password for your CareerConnect account.</p>
<p>You can securely reset your password by clicking the button below. This link will expire in 24 hours.</p>

<div style="text-align: center;">
    <a href="{{ reset_link }}" class="cta-button">Reset My Password</a>
</div>

<p>If you did not request a password reset, please ignore this email. Your password will remain unchanged.</p>
<p>Best regards,<br>The CareerConnect Team</p>
{% endblock %}
